Babel==2.7.0
braintree==3.53.0
dj-database-url==0.5.0
Django==2.2.6
django-ajax-selects==1.7.1
django-allauth==0.22.0
django-bootstrap3==11.1.0
django-messages==0.6.0
django-phonenumber-field==4.0.0
django-simple-email-confirmation==0.60
django-storages==1.6.5
django-verified-email-field==1.5.1
djangocms-installer==1.2.0
djangorestframework==3.11.0
importlib-metadata==1.5.0
netifaces==0.10.4
networkx==2.4
notebook==6.4.1
pytz==2019.3
Twisted==20.3.0
