<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <script type="text/javascript">
            var auto_refresh = setInterval(
            function ()
            {
                $('#loader').load('{% url "refresh" %}').fadeIn("slow");
            }, 90);
        </script>
    </head>
    <body>

        <div id="pt">
        </div>
    <div id="loader">
        {% with siz=mes|length %}
        {% for chats in mes.all %}
        <div id="chatt">
            {{siz}}
            {{ chats.chatroom }}
        </div>
        {% endfor %}
        {% endwith %}
    </div>
    <form method='POST' action="showchat">
        {% csrf_token %}
        {{dtr.as_p}}
        <button type="submit">submit</button>
        
    </form>        

    </body>
</html>